$black-russian: #1C1D21;
$ebony-clay: #31353D;
$chambray: #445878;
$morning-glory: #92CDCF;
$solitude: #EEEFF7;

body {

	background-color: $solitude;

}

.nav__outer,
.nav,
.nav ul,
.footer__outer,
.footer,
.footer ul {

	background-color: $ebony-clay !important;
	color: white !important;

}

.nav ul a,
.footer ul a {

	color: white;

}


.hero__outer {


	background-color: $chambray;
	

}


.hero {

	background-image: url("../img/daniel-portrait-bg-chambray.png");
	
}


.section__outer--light {

	background-color: $solitude;

}

.section__outer--dark {

	background-color: $chambray;

}


.section-header {

	.section__outer--light & {

		&:before {

			border-color: rgba($black-russian, 0.4);

		}

	}	

	.section__outer--dark & {

		&:before {

			border-color: rgba($solitude, 0.4);

		}		

	}

}


.section-header__title {

	.section__outer--light & {

		background-color: $solitude;
		color: $black-russian;			

	}	

	.section__outer--dark & {

		background-color: $chambray;
		color: white;		

	}

}


.project {

	.section__outer--light & {

		border: 1px solid rgba($black-russian, 0.4);


	}	

	.section__outer--dark & {

		border: 1px solid rgba($solitude, 0.4);
		

	}


}


.project__links {	

	.section__outer--dark & {

		a {

			color: white;

			&:hover {

				color: $morning-glory;
				
			}

		}

	}

	.section__outer--light & {

		a {

			color: $black-russian;

			&:hover {

				color: $chambray;
				
			}

		}

	}	

}