$black-russian: #1C1D21;
$ebony-clay: #31353D;
$chambray: #445878;
$morning-glory: #92CDCF;
$solitude: #EEEFF7;

$bg-light: white;
$bg-dark: $chambray;
$txt-on-light: $black-russian;
$txt-on-dark: white;

body {

	background-color: $bg-light;

}

.nav__outer,
.nav,
.nav ul,
.footer__outer,
.footer,
.footer ul {

	background-color: $ebony-clay !important;
	color: white !important;

}

.nav ul a,
.footer ul a {

	color: white;

}


.hero__outer {

	background-color: $bg-dark;
	
}


%section__outer--light {

	background-color: $bg-light;

	.section-header:before {

		border-color: rgba($txt-on-light, 0.4);

	}

	.section-header__title {

		background-color: $bg-light;
		color: $txt-on-light;

	}

	.project {

		border: 1px solid rgba($txt-on-light, 0.4);

	}

	.project__links a {	

		color: $bg-dark;

		&:hover {

			color: $txt-on-light;
			
		}	

	}				

}


%section__outer--dark {

	background-color: $bg-dark;

	.section-header:before {

		border-color: rgba($bg-light, 0.4);
		
	}

	.section-header__title {		

		background-color: $bg-dark;
		color: $txt-on-dark;

	}

	.project {

		border: 1px solid rgba($bg-light, 0.4);

	}

	.project__links a {	

		color: $txt-on-dark;

		&:hover {

			color: $morning-glory;
			
		}			

	}				

}


.daniel-portfolio--design {

	.clients__outer,
	.html-css__outer,
	.skills__outer {

		@extend %section__outer--light;				

	}

	.online__outer,
	.offline__outer {

		@extend %section__outer--dark;				

	}

}


.daniel-portfolio--dev {

	.clients__outer,
	.javascript__outer,
	.skills__outer {

		@extend %section__outer--light;				

	}

	.html-css__outer,
	.online__outer {

		@extend %section__outer--dark;				

	}

}








