.hero__outer {

	overflow: hidden;

}

.hero {

	display: flex;
	justify-content: center;
	height: 25vh;
	color: white;

	@include breakpoint(small) {
		height: 222px;
	}	

	@include breakpoint(medium) {
		height: 294px;
	}	

	@include breakpoint(large) {


	}
	
}

$hero-image-size-xsmall: 62vw;
$hero-header-box-size-xsmall: 62vw;
$hero-overlap-size-xsmall: 16vw;
$hero-image-size-small: 300px;
$hero-header-box-size-small: 300px;
$hero-overlap-size-small: 40px;
$hero-image-size: 390px;
$hero-header-box-size: 390px;
$hero-overlap-size: 60px;

.hero__content {

	position: relative;
	left: -(($hero-image-size-xsmall + $hero-header-box-size-xsmall - 100vw) / 2);

	@include breakpoint(small) {
		left: 0;
		width: ($hero-image-size-small + $hero-header-box-size-small) - (2 * $hero-overlap-size-small);
	}	

	@include breakpoint(medium) {
		width: ($hero-image-size + $hero-header-box-size) - (2 * $hero-overlap-size);
	}	
	

}

.hero__image {

	position: relative;
	top: 4px;
	left: -($hero-overlap-size-xsmall);
	width: $hero-image-size-xsmall;

	@include breakpoint(small) {
		top: 7px;
		left: -($hero-overlap-size-small);
		width: $hero-image-size-small;
	}	

	@include breakpoint(medium) {
		top: 11px;
		left: -($hero-overlap-size);
		width: $hero-image-size;
	}

}


.hero__header-box {

	position: absolute;
	top: 6vh;
	left: ($hero-image-size-xsmall) - (2 * $hero-overlap-size-xsmall);
	width: $hero-header-box-size-xsmall;	

	@include breakpoint(small) {
		top: 57px;
		left: ($hero-image-size-small) - (2 * $hero-overlap-size-small);
		width: $hero-header-box-size-small;
	}	

	@include breakpoint(medium) {
		top: 72px;
		left: ($hero-image-size) - (2 * $hero-overlap-size);
		width: $hero-header-box-size;
	}

}


.hero__header {

	font-family: 'Caveat', serif;
	font-size: 12.5vw;
	line-height: 0.9;
	font-weight: 400;
	margin-bottom: 2.2vw;

	@include breakpoint(small) {
		font-size: 67px;
	}	

	@include breakpoint(medium) {
		font-size: 86px;
	}	

}


.hero__subheader {

	position: relative;
	font-size: 3.75vw;
	line-height: 1;

	@include breakpoint(small) {
		font-size: 19px;
	}	

	@include breakpoint(medium) {
		font-size: 25px;
	}

}


.hero__intro {

	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.6;

}