

.hero {

	display: flex;
	position: relative;
	height: 25vh;
	background-position: 42% -96px;	
	background-repeat: no-repeat;
	background-size: auto 1040px;
	color: white;

	@include breakpoint(medium) {

		height: 294px;
		background-position: -21% 12px;
		background-size: auto 830px;

	}	

	@include breakpoint(large) {

		background-position: -96px -24px;
		background-size: auto 1040px;
		

	}
	
}


.hero__content {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 300px;
	//width: 550px;
	
	//position: relative;
	//left: 275px;
	//top: 20px;

	@include breakpoint(large) {

		//left: 380px;

	}



}


.hero__header-box,
.hero__intro {

	flex-basis: 47%;

}

.hero__header-box {

	//margin-bottom: 16px;

}


.hero__header {

	font-family: 'Caveat', serif;
	font-size: 86px;
	line-height: 0.9;
	font-weight: 400;
	margin-bottom: 12px;

}


.hero__subheader {

	position: relative;
	line-height: 1;

	&--long {

		font-size: 25px;

	}

}


.hero__intro {

	margin-bottom: 0;
	font-size: 18px;
	line-height: 1.6;

}