

$size: 70%;
$posY: 50%;

$projects:
(master-it-site, "140602-Master-It-Home-Page-DESKTOP.png", $size, 80%),
(zk-lp-laatste-bod, "150113-XSell-Laatste-Bod-LP.png", $size, $posY),
(zk-lp-woon, "150420-Achmea-Xsell-Woonverzekering-LP-Q2-Nieuw.png"),
(zk-lp-micro, "150426-Achmea-Xsell-Thematische-Microcampagne-LP-DESKTOP-Gezinnen-Oudere-Kinderen.png", $size, $posY),
(simyo-homepage, "150901-Simyo-Homepage-Redesign-v4s-1024x1548px.png", $size, $posY),
(kpn-hotspots-site, "150930-KPN-HotSpots-Van-De-Zaak-Homepage.png", 80%, -10%),
(play-lp-sound-speakers, "151125-Play-Sound-Speakers-LP-v3.png", $size, 0%),
(vv-lp-supercadeaus, "151207-VakantieVeilingen-Landingpagina-v2.png"),
(agis-salesfunnel, "131205-Agis-Salesfunnel-Verleidingsprincipes-100-Wederkerigheid-Sowieso-Korting-100-small-v2a.png", 100%, 60%),
(cb-salesfunnel, "131029-Centraal-Beheer-Cross-Sell-Funnels-Auto-Stap-1.png", $size, -2%),
(xs4all-lp, "131103-XS4ALL-Triple-Play-(Gweezy-v5).png", $size, $posY),
(agis-productpage, "130730-Agis-Salesfunnel-2013-1000-Templates-Basisverzekering.png", 93%, 37%),
(simyo-lp, "150610-Simyo-Spontane-Beslisser-LP-RETINA.png", $size, $posY),
(knab-bannertest, "150825-Knab-Bannertest-Medium-Rectangle-300x250-OVERZICHT-v2.png", 120%, $posY),
(npo-app, "140417-NPO-Plus-Android-7in-Tablet-600dp-AFLEVERING.png", $size, 110%),
(rb-book, "mockup-portrait-rb-book-1096p.png", 55%, $posY),
(carolina-enw, "090729-Carolina-Bont-Intuitiepakket-Voorkant-2251x2000px-q10.jpg", 40%, $posY),
(modint-magazine, "091209-MODINT-Time-14-Cover-q10.jpg", $size, $posY),
(shakies-print, "mockup-shakies-print-1780p.png", $size, $posY),
(rina-cd, "mockup-rina-cd-1780p.png", 100%, $posY),
(solarbird-site, "130428-solarbird.nl-Home-Slide-2-Screenshot.png", 85%, 107%),
(qicq-webshop, "qicq-webshop-product-page-q10.jpg", 50%, $posY);

$fcc:
(fcc-game-of-life, $size, $posY),
(fcc-heat-map, $size, $posY),
(fcc-national-contiguity, $size, $posY),
(fcc-simon-game, $size, $posY),
(fcc-tic-tac-toe, 46%, $posY),
(fcc-calculator, 50%, 270%),
(fcc-pomodoro, $size, $posY),
(fcc-quote-machine, 100%, $posY),
(fcc-wikipedia-viewer, $size, -15%),
(fcc-twitch-tv, 90%, $posY),
(fcc-local-weather, 100%, $posY);

.project-column {

	@include breakpoint(xsmall only) {



	}

	@include breakpoint(small only) {

		&--fcc-local-weather,
		&--fcc-twitch-tv {

			display: none;

		}

	}

}

.project {

	display: block;
	position: relative;
	overflow: hidden;
	height: 37vw;

	@include breakpoint(small) {

		height: 180px;

	}

	&:before {

		$size: 300%;
		content: "";
		position: absolute;
		width: $size;
		height: $size;
		top: -100%;
		left: -100%;
		z-index: -1;
		background-size: 70%;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		transform: rotate(-30deg);

	}

}

.project--fcc {

	height: 18vw;
	border: none;

	@include breakpoint(small) {
		height: 90px;
	}

	.project__name {

		margin-top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($bg-dark, 0.7);
		color: white;
		text-shadow: 1px 1px 2px $bg-dark;

	}

	.project__links {

		color: $bg-dark;

	}

}

@each $project, $img, $img-size, $posY in $projects {

	.project--#{$project} {

		&:before {

			background-image: url("../img/#{$img}");
			background-size: $img-size;
			//background-position: 50% $posY;

		}
	}

}

@each $project, $img-size, $posY in $fcc {

	.project--#{$project} {

		&:before {

			background-image: url("../img/#{$project}-screenshot.png");
			background-size: $img-size;
			//background-position: 50% $posY;

		}
	}

}

.project__name {

	font-weight: normal;
	font-size: 5.4vw;
	line-height: 1;
	padding: 9px 12px;
	margin-top: 15px;
	color: black;
	background-color: rgba(white, 0.8);

	@include breakpoint(small) {

		font-size: 24px;

	}

}


.project__links {

	display: flex;
	font-size: 15px;
	margin-top: 7px;

	@include breakpoint(large) {
		font-size: 16px;
	}

}


.reveal {

	$border-width: 1px;
	$padding: 16px;

	padding: 3rem 1rem 1rem 1rem;

	@include breakpoint(small) {

		width: 532 + (2 * $padding) + (2 * $border-width);
		padding: 3rem 2rem 1rem 2rem;

	}

	@include breakpoint(medium) {

		width: 678px;
		padding: 1rem 4rem;

	}

	@include breakpoint(large) {

		$padding: 48px;

		width: 960 + (2 * $padding) + (2 * $border-width);
		padding: 1rem 3rem;
		height: 95vh;

	}

	@include breakpoint(xlarge) {

		$padding: 48px;

		width: 1200 + (2 * $padding) + (2 * $border-width);


	}

	@include breakpoint(1920px) {

		width: 1780 + (2 * $padding) + (2 * $border-width);

	}

	.project__img {

		height: 100%;
		display: flex;
		align-items: center;
	}

}
