.section__outer {

	position: relative;
	z-index: -1;
	padding-top: 16px;
	padding-bottom: 16px;

	@include breakpoint(small) {

		padding-top: 30px;
		padding-bottom: 30px;

	}	

	@include breakpoint(xlarge) {

		padding-top: 40px;
		padding-bottom: 40px;

	}

}


.section-header {

	position: relative;
	top: -5px;
	font-family: 'Caveat', serif;
	font-size: 6.8vw;
	font-weight: 300;
	line-height: 0.9;
	margin-bottom: 10px;
	text-align: center;

	@include breakpoint(small) {

		//font-size: 32px;
		font-size: 50px;
		margin-bottom: 20px;

	}	

	@include breakpoint(medium) {

		margin-bottom: 20px;
		text-align: left;

	}	

	@include breakpoint(xlarge) {

		margin-bottom: 30px;

	}	

	.clients__outer & {

		margin-bottom: -2px;

		@include breakpoint(small) {

			margin-bottom: 10px;

		}

	}

	&:before {

		content: "";
		position: absolute;
		z-index: -1;
		border-top: 1px solid black;
		width: 100%;
		left: 0;
		right: 0;
		top: 50%;

	}

}


.section-header__title {

	position: relative;
	top: -7px;
	//text-transform: uppercase;
	display: inline-block;
	padding-left: 16px;
	padding-right: 16px;

	@include breakpoint(medium) {

		padding-left: 0;

	}

}


.section-header__subtitle {

	margin-left: 8px;
	text-transform: none;

}