$master-it-site-img: "140602-Master-It-Home-Page-DESKTOP.png";
$zk-lp-laatste-bod-img: "150113-XSell-Laatste-Bod-LP.png";
$zk-lp-woon-img: "150420-Achmea-Xsell-Woonverzekering-LP-Q2-Nieuw.png";
$zk-lp-micro-img: "150426-Achmea-Xsell-Thematische-Microcampagne-LP-DESKTOP-Gezinnen-Oudere-Kinderen.png";
$simyo-homepage-img: "150901-Simyo-Homepage-Redesign-v4s.png";
$kpn-hotspots-site-img: "150930-KPN-HotSpots-Van-De-Zaak-Homepage.png";
$play-lp-sound-speakers-img: "151125-Play-Sound-Speakers-LP-v3.png";
$vv-lp-supercadeaus-img: "151207-VakantieVeilingen-Landingpagina-v2.png";
$agis-salesfunnel-img: "131205-Agis-Salesfunnel-Verleidingsprincipes-100-Wederkerigheid-Sowieso-Korting-100-small-v2a.png";
$cb-salesfunnel-img: "131029-Centraal-Beheer-Cross-Sell-Funnels_Auto-Stap-1.jpg";
$xs4all-lp-img: "131103-XS4ALL-Triple-Play-(Gweezy-v5).png";
$agis-productpage-img: "130730-Agis-Salesfunnel-2013-1000-Templates-Basisverzekering.png";
$simyo-lp-img: "150610-Simyo-Spontane-Beslisser-LP-RETINA.png";
$knab-bannertest-img: "150825-Knab-Bannertest-Medium-Rectangle-300x250-OVERZICHT.png";
$npo-app-img: "140417-NPO-Plus-Android-10in-Tablet-1280dp-AFLEVERING.png";
$rb-book-img: "111219a-Roland-Berger-Trojan-Horses-Of-Decline-Voorkant-1454x2048px.jpg";
$carolina-enw-img: "090729-Carolina-Bont-Intuitiepakket-Voorkant-2251x2000px-q10.jpg";
$modint-magazine-img: "091209-MODINT-Time-14-Cover-q10.jpg";
$shakies-print-img: "Shakies-Vouchers.png";
$rina-cd-img: "Rina-Mushonga-CD-Cover-Flyer.png";