.design__outer.section__outer.section__outer--dark
	.row.arow
		.column
			+section-header("design", "Offline Design")
	.row.arow.xsmall-up-1.small-up-2.medium-up-3.large-up-4
		- var showDesignProjects = ["rb-book", "carolina-enw", "shakies-print", "rina-cd"] 			
		each project, index in showDesignProjects
			+project("d", project, index)