.html-css__outer.section__outer.section__outer--light
	.row.arow
		.column
			+section-header("html-css", "Responsive Web Development")
	.row.arow.xsmall-up-1.small-up-2.medium-up-3.large-up-4
		- var showHTMLCSSProjects = ["zk-lp-micro", "master-it-site", "play-lp-sound-speakers", "simyo-lp"]
		each project, index in showHTMLCSSProjects
			+project("h", project, index)