.footer__outer
	.row.arow
		.column
			.top-bar.footer
				.top-bar-left.show-for-medium
					h1.nav__header Daniel Baars #[span.nav__subheader Designer / Developer]
				.top-bar-right.footer__right
					ul.nav__menu.footer__menu.menu
						li #[a(href="mailto:info@danielbaars.nl" target="_blank") #[i.fa.fa-envelope]]
						li #[a(href="https://www.linkedin.com/in/danieldesign/" target="_blank") #[i.fa.fa-linkedin-square]]
						li #[a(href="https://github.com/danielbaars" target="_blank") #[i.fa.fa-github]]