.hero__outer
	.row.arow
		.column
			.hero
				.hero__content.show-for-medium
					.hero__header-box
						h2.hero__header Daniel Baars
						//-h3.hero__subheader.hero__subheader--short Designer / Developer
						h3.hero__subheader.hero__subheader--long Graphic Designer / Web Developer
					p.hero__intro Why me? Because I can give you pixel-perfect web design. Responsive development that delivers a content-rich yet seamless user experience across all platforms, pushing the boundaries but not breaking all the rules (we know how important the rules are!). I've got the heart and soul of a graphic designer but the head of a developer. I know how to integrate style and substance and have a bunch of happy clients to show for it. Take a look at some of what we were able to accomplish together: