.nav__outer
	.row.arow
		.column
			.top-bar.nav
				.top-bar-left
					h1.nav__header Daniel Baars #[span.nav__subheader Designer / Developer]
				.top-bar-right.show-for-medium
					ul.nav__menu.menu
						li #[a(href="#design") Design]
						li #[a(href="#html-css") HTML / CSS]
						li #[a(href="#javascript") JavaScript]