.clients__outer.section__outer
	.row.arow
		.column
			+section-header("clients", "Clients")
			.row.xsmall-up-3.small-up-4.medium-up-5.large-up-6
				- var showClients = ["rb", "zk", "simyo", "abn", "xs4all", "knab", "kpn", "cb", "npo", "vv", "play", "kosmos", "achmea", "nlziet", "master-it", "qicq", "thuiscomfort", "wijnbeurs"]
				each val, index in showClients
					- var number = index + 1
					.column(class=`client-logo-column--${number}`)
						.client-logo-box
							.client-logo(class=`client-logo--${clients[val].shortName}` style=`width: ${clients[val].logoPct}%`) #[img(src=`logos/${clients[val].shortName}-logo.svg`)]