mixin hero(context)
	.hero__outer
		.row.arow
			.column
				.hero
					.hero__content
						.hero__image.imgc #[img(src="img/daniel-portrait-bg-chambray.png")]
						.hero__header-box
							//-.hero__logo.imgc #[img(src="img/daniel-logo-v2.svg")]
							.hero__logo.imgc
								if context === 'design'
									include ../img/daniel-logo-v3.svg
								if context === 'dev'
									include ../img/daniel-logo-v4.svg
							//-h3.hero__subheader.hero__subheader--short Designer / Developer
						//-.hero__header-box
							h2.hero__header Daniel Baars
							//-h3.hero__subheader.hero__subheader--short Designer / Developer
							h3.hero__subheader.hero__subheader--long Graphic Designer / Web Developer
							//-h3.hero__tagline The heart & soul of a designer, the head of a developer
						//-p.hero__intro Why me? Because I can give you pixel-perfect web design. Responsive development that delivers a content-rich yet seamless user experience across all platforms, pushing the boundaries but not breaking all the rules (we know how important the rules are!). I've got the heart and soul of a graphic designer but the head of a developer. I know how to integrate style and substance and have a bunch of happy clients to show for it. Take a look at some of what we were able to accomplish together:
