extends _default

block head
	- var pageTitle = 'Daniel Baars Portfolio'
	- var metaDescription = "Portfolio of graphic designer / web developer Daniel Baars."
	- var companyName = 'Daniel Baars'
	- var bodyClass = 'daniel-portfolio'
	- var googleFonts = 'Caveat:400|Roboto:300,400,400i,500,700'
	- var jsFile = 'js/app.js'
	- var online = true
	- var jQuery = false
	- var bootstrap = false
	- var bootstrapJS = false
	- var foundation = true
	- var mathJS = false
	- var momentJS = false
	- var fontAwesome = true

include _mixins