extends _home

block append head
	- var metaDescription = "Portfolio of web developer Daniel Baars."	
	- var companyName = 'Daniel Baars'
	- var bodyClass = 'daniel-portfolio daniel-portfolio--dev'	

block content
	include _nav
	+nav("html-css", "javascript", "online", "skills")
	include _hero
	include _clients
	include _dev-html-css
	include _dev-javascript
	include _design-online
	include _skills
	include _footer