extends _home

block append head
	- var metaDescription = 'Portfolio of front-end developer Daniel Baars.'	
	- var companyName = 'Daniel Baars'
	- var bodyClass = 'daniel-portfolio daniel-portfolio--dev'	

block content
	include _nav
	+nav('html-css', 'javascript', 'react', 'skills')
	include _hero
	+hero('dev')
	include _clients
	include _dev-html-css
	include _dev-javascript
	include _react
	//- include _design-online
	include _skills
	include _footer
	+footer('Front-End Developer')
